
.coordinates {
  border:solid 1px #DDD;
  margin: 20px 20px 20px 0;
}
.puleaf-clear,.puleaf-center  {
  border:solid 1px #DDD;
  margin: 20px 20px 20px 0;
  padding: 8px 10px;
}

.leaflet-container a {
    font-size: 1.5em;
}

.leaflet-control-layers form { margin-bottom:0px; }
